# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#dirs
/c++/VPT/.vs/ 
/c++/VPT/Debug/
/c++/VPT/Client/Debug/
/c++/VPT/Common/Debug/
/c++/VPT/Server/Debug/
/c++/VPT/Client/x64/Debug/
/c++/VPT/Common/x64/Debug/
/c++/VPT/Server/x64/Debug/
/c++/VPT/x64/

#/java/VPT/nbproject/private/
#/java/VPT/build/
#/java/VPT/build.xml
#/java/VPT/manifest.mf
#/java/VPT/nbproject/
/java/VPT/nbproject/private
/java/VPT/build/
#/java/VPT/dist/
/cpp/GraphicFrameword/.vs/GraphicFrameWork/v16/
/cpp/GraphicFrameword/.vs/GraphicFrameWork/v16/ipch/AutoPCH
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPT/JavaVPT/nbproject/private/
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPT/nbproject/private/
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPT/JavaVPTNB/nbproject/private/
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPTNB/nbproject/private/
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPTNB/build/
/cpp/GraphicFrameWork/.vs/GraphicFrameWork/v16/Browse.VC.db
/cpp/GraphicFrameWork/.vs/GraphicFrameWork/v16/Browse.VC.opendb
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPT/nbproject/private/
/cpp/GraphicFrameWork/GraphicFrameWork/projects/VPT/JavaVPT/build/
