<!DOCTYPE html>
<html>
<head>
	<title>VPT - Monaco Code Editor</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<h2>{{ header }}</h2>
<div id="container" style="width:80vw;height:80vh;border:1px solid grey"></div>

<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="../static/min/vs/loader.js"></script>
<script>
	var editorval;
	require.config({ paths: { 'vs': '../static/min/vs' }});

	require(['vs/editor/editor.main'], function() {
		var editor = monaco.editor.create(document.getElementById('container'), {
			value: [
				'int main() {',
				'	return 0;',
				'}'
			].join('\n'),
			language: 'cpp'
		});
		editorval = editor;
	});
	function SaveCode(){
		document.getElementById("save_code").value = editorval.getValue()
        document.getElementById('form').submit();
	}

</script>
<form action="#" method="post" id="form">
	<input type="text" name="code" value="test" id="save_code" hidden>
	<input type="button" value="submit" onClick="SaveCode()">
</form>
</body>
</html>