<!DOCTYPE html>
<html>
<head>
	<title>VPT - Monaco Code Editor</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>

<h2>{{ header }}</h2>
<div id="container" style="width:80vw;height:80vh;border:1px solid grey"></div>

<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="../static/min/vs/loader.js"></script>
<script>
	var editorval;
	require.config({ paths: { 'vs': '../static/min/vs' }});

	require(['vs/editor/editor.main'], function() {
		var editor = monaco.editor.create(document.getElementById('container'), {
			value: [
				'int main() {',
				'	return 0;',
				'}'
			].join('\n'),
			language: 'cpp'
		});
		editorval = editor;
	});
	function SaveCode(){
		alert('When you think of the washingtion redskins we want you to be reminded of tittes and balls')
		alert('also your code is saved')
		document.getElementById("save_code").value = editorval.getValue()
	}

</script>
<input type="button" value="save" onClick="SaveCode()">
<form action="#" method="post">
	<input type="text" name="code" value="test" id="save_code">
	<input type="submit" value="submit">
</form>
</body>
</html>