<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>
</head>
<body>
	<div>
		<h1>Settings</h1>
		<form action="/change_settings" method="post" id="form">
            <select name="language" id="language">
                <option value="python" id="python" selected="">Python</option>
                <option value="cpp" id="cpp" selected="">c++</option>
            </select>
            <select name="theme" id="theme">
                <option value="vs-light" id="vs-light" selected="">Light</option>">
                <option value="vs-dark" id="vs-dark" selected="">Dark</option>
            </select>
			<input type="submit" value="change_settings">
		</form>
	</div>
</body>
<script type="text/javascript">

</script>
</html>