<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>
</head>
<body>
	<div>
		<h1>Settings</h1>
		<form action="/change_settings" method="post" id="form">
            <select name="language">
                <option value="python">Python</option>
                <option value="cpp">c++</option>
            </select>
            <select name="theme">
                <option value="vs-light">Light</option>">
                <option value="vs-dark">Dark</option>
            </select>
			<input type="submit" value="change_settings">
		</form>
	</div>
</body>
</html>